.App {
  text-align: center;
  display: flex;
  flex-direction: column;

}


.App-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}



.homeTitle{
  display: flex;
  align-items: center;
  

  }

  .titleHome{
    font-size: 60px;
  }
